# S13 T01: Bases de datos relacionales

**Descripción**
<br>
Aprender a crear un modelo relacional y diagrama entidad-relación.
___

## Nivel 1
### - Ejercicio 1
Crea una base relacional de ejemplo utilizando un documento de texto o a mano. Diséñala para que contenga las siguientes tablas, y establece las relaciones que consideres necesarias entre ellas:

- 	Tabla de compras (transacciones)

- 	Mesa de establecimientos

- 	Mesa de trabajadores

- 	Mesa de clientes

- 	Tabla de productos

- 	Tabla de tipos de productos

Define las propiedades de las relaciones (1:1, 1:n, n:n), y crea algunas de las variables que podrían contener, por ejemplo:
<br>
Mesa de establecimientos

- 	IDestablecimiento (unique key)

- 	Nombre

- 	Localización

- 	Superficie
___
Utilizando power point se ha generado el primer esquema de la base de datos solicitada:

In [1]:
# import image module
from IPython.display import Image
  
# get the image
Image(url="Exercise1.jpg")

## Nivel 2
### - Ejercicio 2
Use un programa de creación de diagramas entidad-relación como http://dia-installer.de para crear el diagrama.
___
Para la creacion del diagrama de entidad relacion se utilizo un programa web de acceso libre: https://app.diagrams.net/

In [2]:
Image(url="Exercise2.png")

## Nivel 3
### - Ejercicio 3
Use el Workbench de MySQL para crear un modelo relacional. 
___

Workbench es una interfaz grafica que te permite crear el modelo de manera dinamica. 
<br>
Asi que para practicar el uso del programa MySQL y de Workbench de MySQL, se crearon los modelos siguiendo dos metodos, primero creando una base de datos utilizando los comando de SQL y se hizo *reverse engineering* para crear el modelo. Tambien, se creo otro modelo relacional unicamente con workbench y despues utilizando *forward engineering* se obtuvo el script de MySQL.

____
# Workbench

In [4]:
Image(url="SQL_model.png")

## MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `mydb` DEFAULT CHARACTER SET utf8 ;
-- -----------------------------------------------------
-- Schema s13t01
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema s13t01
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `s13t01` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
-- -----------------------------------------------------
-- Schema s13t01_sql
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema s13t01_sql
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `s13t01_sql` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `mydb` ;

-- -----------------------------------------------------
-- Table `mydb`.`Client`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`Client` (
  `idClient` INT GENERATED ALWAYS AS () VIRTUAL,
  `Client_name` VARCHAR(45) GENERATED ALWAYS AS () VIRTUAL,
  `Client_lastname` VARCHAR(45) GENERATED ALWAYS AS () VIRTUAL,
  `Client_email` VARCHAR(45) GENERATED ALWAYS AS () VIRTUAL,
  `Client_address` VARCHAR(45) GENERATED ALWAYS AS (),
  `Client_telephone` INT(50) GENERATED ALWAYS AS (),
  UNIQUE INDEX `ID_CLIENT_UNIQUE` (`idClient` ASC) VISIBLE,
  PRIMARY KEY (`idClient`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`Types of products`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`Types of products` (
  `idTypes of products` INT GENERATED ALWAYS AS () VIRTUAL,
  `Product_name` VARCHAR(45) NOT NULL,
  `Quantity` INT(50) NOT NULL,
  `Unit_cost` FLOAT NOT NULL,
  `Description` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idTypes of products`),
  UNIQUE INDEX `idTypes of products_UNIQUE` (`idTypes of products` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`List_products`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`List_products` (
  `idList_products` INT(50) GENERATED ALWAYS AS () VIRTUAL,
  `id_Types of products` INT(50) NOT NULL,
  `Quantity` INT(50) NOT NULL,
  `Cost` INT(50) NOT NULL,
  PRIMARY KEY (`idList_products`),
  INDEX `idTypes_idx` (`id_Types of products` ASC) VISIBLE,
  CONSTRAINT `idTypes`
    FOREIGN KEY (`id_Types of products`)
    REFERENCES `mydb`.`Types of products` (`idTypes of products`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`Workers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`Workers` (
  `idWorkers` INT GENERATED ALWAYS AS () VIRTUAL,
  `Workers_name` VARCHAR(45) NOT NULL,
  `Workers_lastname` VARCHAR(45) NOT NULL,
  `Workers_email` VARCHAR(45) NOT NULL,
  `Workers_phone` INT(45) NOT NULL,
  `Workers_position` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idWorkers`),
  UNIQUE INDEX `idWorkers_UNIQUE` (`idWorkers` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`Establisment`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`Establisment` (
  `idEstablisment` INT GENERATED ALWAYS AS () VIRTUAL,
  `idTypes of products` INT(45) NOT NULL,
  `idWorkers` INT(45) NOT NULL,
  `Store_name` VARCHAR(45) NOT NULL,
  `Store_address` VARCHAR(45) NOT NULL,
  `Store_telephone` INT(50) NOT NULL,
  `Store_email` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idEstablisment`),
  UNIQUE INDEX `idEstablisment_UNIQUE` (`idEstablisment` ASC) VISIBLE,
  INDEX `list_products_idx` (`idTypes of products` ASC) VISIBLE,
  INDEX `workers_idx` (`idWorkers` ASC) VISIBLE,
  CONSTRAINT `list_products`
    FOREIGN KEY (`idTypes of products`)
    REFERENCES `mydb`.`Types of products` (`idTypes of products`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `workers`
    FOREIGN KEY (`idWorkers`)
    REFERENCES `mydb`.`Workers` (`idWorkers`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`Transaction`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`Transaction` (
  `idTransaction` INT GENERATED ALWAYS AS () VIRTUAL,
  `idClient` INT(50) NOT NULL,
  `idWorkers` INT(50) NOT NULL,
  `idEstablisment` INT(50) NOT NULL,
  `idList_products` INT(50) NOT NULL,
  `Transaction_date` DATETIME(50) NOT NULL,
  `Transaction_price` FLOAT NOT NULL,
  PRIMARY KEY (`idTransaction`),
  UNIQUE INDEX `idTransaction_UNIQUE` (`idTransaction` ASC) VISIBLE,
  INDEX `idClient_idx` (`idClient` ASC) VISIBLE,
  INDEX `idWorlets_idx` (`idWorkers` ASC) VISIBLE,
  INDEX `idEstablishment_idx` (`idEstablisment` ASC) VISIBLE,
  INDEX `idList_products_idx` (`idList_products` ASC) VISIBLE,
  CONSTRAINT `idClient`
    FOREIGN KEY (`idClient`)
    REFERENCES `mydb`.`Client` (`idClient`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `idWorkers`
    FOREIGN KEY (`idWorkers`)
    REFERENCES `mydb`.`Workers` (`idWorkers`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `idEstablishment`
    FOREIGN KEY (`idEstablisment`)
    REFERENCES `mydb`.`Establisment` (`idEstablisment`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `idList_products`
    FOREIGN KEY (`idList_products`)
    REFERENCES `mydb`.`List_products` (`id_Types of products`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;

USE `s13t01` ;

-- -----------------------------------------------------
-- Table `s13t01`.`clients`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01`.`clients` (
  `Client_ID` INT NOT NULL AUTO_INCREMENT,
  `Client_name` VARCHAR(50) NOT NULL,
  `Client_lastname` VARCHAR(50) NOT NULL,
  `Client_address` VARCHAR(50) NOT NULL,
  `Client_phone` INT NOT NULL,
  `Client_email` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Client_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01`.`establishment`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01`.`establishment` (
  `Establishment_ID` INT NOT NULL AUTO_INCREMENT,
  `Estblishment_name` VARCHAR(50) NOT NULL,
  `Establishment_address` VARCHAR(50) NOT NULL,
  `Establishment_phone` INT NOT NULL,
  `Establishment_email` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Establishment_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01`.`product_type`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01`.`product_type` (
  `Type_ID` INT NOT NULL AUTO_INCREMENT,
  `Product_name` VARCHAR(50) NOT NULL,
  `Product_quantity` INT NOT NULL,
  `Product_unit_cost` INT NOT NULL,
  `Product_description` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Type_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01`.`list_product`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01`.`list_product` (
  `Product_ID` INT NOT NULL AUTO_INCREMENT,
  `Type_ID` INT NOT NULL,
  `List_quantity` INT NOT NULL,
  `List_cost` INT NOT NULL,
  PRIMARY KEY (`Product_ID`),
  INDEX `Type_ID` (`Type_ID` ASC) VISIBLE,
  CONSTRAINT `list_product_ibfk_1`
    FOREIGN KEY (`Type_ID`)
    REFERENCES `s13t01`.`product_type` (`Type_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01`.`worker`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01`.`worker` (
  `Worker_ID` INT NOT NULL AUTO_INCREMENT,
  `Establishment_ID` INT NOT NULL,
  `Worker_name` VARCHAR(50) NOT NULL,
  `Worker_lastname` VARCHAR(50) NOT NULL,
  `Worker_email` VARCHAR(50) NOT NULL,
  `Worker_phone` INT NOT NULL,
  `Worker_position` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Worker_ID`),
  INDEX `Establishment_ID` (`Establishment_ID` ASC) VISIBLE,
  CONSTRAINT `worker_ibfk_1`
    FOREIGN KEY (`Establishment_ID`)
    REFERENCES `s13t01`.`establishment` (`Establishment_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01`.`transaction`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01`.`transaction` (
  `Transaction_ID` INT NOT NULL AUTO_INCREMENT,
  `Product_ID` INT NOT NULL,
  `Worker_ID` INT NOT NULL,
  `Client_ID` INT NOT NULL,
  `Establishment_ID` INT NOT NULL,
  `Transaction_quantity` INT NOT NULL,
  `Transaction_total_price` FLOAT NOT NULL,
  `Transaction_date` DATETIME NOT NULL,
  PRIMARY KEY (`Transaction_ID`),
  INDEX `Product_ID` (`Product_ID` ASC) VISIBLE,
  INDEX `Worker_ID` (`Worker_ID` ASC) VISIBLE,
  INDEX `Establishment_ID` (`Establishment_ID` ASC) VISIBLE,
  INDEX `Client_ID` (`Client_ID` ASC) VISIBLE,
  CONSTRAINT `transaction_ibfk_1`
    FOREIGN KEY (`Product_ID`)
    REFERENCES `s13t01`.`list_product` (`Product_ID`),
  CONSTRAINT `transaction_ibfk_2`
    FOREIGN KEY (`Worker_ID`)
    REFERENCES `s13t01`.`worker` (`Worker_ID`),
  CONSTRAINT `transaction_ibfk_3`
    FOREIGN KEY (`Establishment_ID`)
    REFERENCES `s13t01`.`establishment` (`Establishment_ID`),
  CONSTRAINT `transaction_ibfk_4`
    FOREIGN KEY (`Client_ID`)
    REFERENCES `s13t01`.`clients` (`Client_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;

USE `s13t01_sql` ;

-- -----------------------------------------------------
-- Table `s13t01_sql`.`clients`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01_sql`.`clients` (
  `Client_ID` INT NOT NULL AUTO_INCREMENT,
  `Client_name` VARCHAR(50) NOT NULL,
  `Client_lastname` VARCHAR(50) NOT NULL,
  `Client_address` VARCHAR(50) NOT NULL,
  `Client_phone` INT NOT NULL,
  `Client_email` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Client_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01_sql`.`establishment`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01_sql`.`establishment` (
  `Establishment_ID` INT NOT NULL AUTO_INCREMENT,
  `Estblishment_name` VARCHAR(50) NOT NULL,
  `Establishment_address` VARCHAR(50) NOT NULL,
  `Establishment_phone` INT NOT NULL,
  `Establishment_email` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Establishment_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01_sql`.`product_type`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01_sql`.`product_type` (
  `Type_ID` INT NOT NULL AUTO_INCREMENT,
  `Product_name` VARCHAR(50) NOT NULL,
  `Product_quantity` INT NOT NULL,
  `Product_unit_cost` INT NOT NULL,
  `Product_description` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Type_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01_sql`.`list_product`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01_sql`.`list_product` (
  `Product_ID` INT NOT NULL AUTO_INCREMENT,
  `Type_ID` INT NOT NULL,
  `List_quantity` INT NOT NULL,
  `List_cost` INT NOT NULL,
  PRIMARY KEY (`Product_ID`),
  INDEX `Type_ID` (`Type_ID` ASC) VISIBLE,
  CONSTRAINT `list_product_ibfk_1`
    FOREIGN KEY (`Type_ID`)
    REFERENCES `s13t01_sql`.`product_type` (`Type_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01_sql`.`worker`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01_sql`.`worker` (
  `Worker_ID` INT NOT NULL AUTO_INCREMENT,
  `Establishment_ID` INT NOT NULL,
  `Worker_name` VARCHAR(50) NOT NULL,
  `Worker_lastname` VARCHAR(50) NOT NULL,
  `Worker_email` VARCHAR(50) NOT NULL,
  `Worker_phone` INT NOT NULL,
  `Worker_position` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`Worker_ID`),
  INDEX `Establishment_ID` (`Establishment_ID` ASC) VISIBLE,
  CONSTRAINT `worker_ibfk_1`
    FOREIGN KEY (`Establishment_ID`)
    REFERENCES `s13t01_sql`.`establishment` (`Establishment_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `s13t01_sql`.`transaction`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `s13t01_sql`.`transaction` (
  `Transaction_ID` INT NOT NULL AUTO_INCREMENT,
  `Product_ID` INT NOT NULL,
  `Worker_ID` INT NOT NULL,
  `Client_ID` INT NOT NULL,
  `Establishment_ID` INT NOT NULL,
  `Transaction_quantity` INT NOT NULL,
  `Transaction_total_price` FLOAT NOT NULL,
  `Transaction_date` DATETIME NOT NULL,
  PRIMARY KEY (`Transaction_ID`),
  INDEX `Product_ID` (`Product_ID` ASC) VISIBLE,
  INDEX `Worker_ID` (`Worker_ID` ASC) VISIBLE,
  INDEX `Establishment_ID` (`Establishment_ID` ASC) VISIBLE,
  INDEX `Client_ID` (`Client_ID` ASC) VISIBLE,
  CONSTRAINT `transaction_ibfk_1`
    FOREIGN KEY (`Product_ID`)
    REFERENCES `s13t01_sql`.`list_product` (`Product_ID`),
  CONSTRAINT `transaction_ibfk_2`
    FOREIGN KEY (`Worker_ID`)
    REFERENCES `s13t01_sql`.`worker` (`Worker_ID`),
  CONSTRAINT `transaction_ibfk_3`
    FOREIGN KEY (`Establishment_ID`)
    REFERENCES `s13t01_sql`.`establishment` (`Establishment_ID`),
  CONSTRAINT `transaction_ibfk_4`
    FOREIGN KEY (`Client_ID`)
    REFERENCES `s13t01_sql`.`clients` (`Client_ID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

# MySQL

In [5]:
Image(url="SQL_model2.png")

#FIRST CREATE DATABASE
CREATE database S13T01;
USE S13T01;
#NOW CREATE THE TABLES
CREATE TABLE CLIENTS(
Client_ID INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
Transaction_ID integer not null,
Client_name varchar(50) NOT NULL,
Client_lastname varchar(50) not null, 
Client_address varchar(50) not null, 
Client_phone integer not null,
Client_email varchar(50) not null,
FOREIGN KEY(Transaction_ID) REFERENCES TRANSACTION (Transaction_ID)
);

#ESTABLISHMENT TABLE
CREATE TABLE ESTABLISHMENT(
Establishment_ID INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
Worker_ID integer NOT NULL, 
Estblishment_name VARCHAR(50) NOT NULL,
Establishment_address VARCHAR(50) NOT NULL,
Establishment_phone integer NOT NULL, 
Establishment_email VARCHAR(50) NOT NULL,
FOREIGN KEY(Worker_ID) REFERENCES WORKER (Worker_ID)
);

#WORKER TABLE
CREATE TABLE WORKER(
Worker_ID INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
Establishment_ID INTEGER NOT NULL,
Worker_name VARCHAR(50) NOT NULL,
Worker_lastname VARCHAR(50) NOT NULL,
Worker_email VARCHAR(50) NOT NULL,
Worker_phone integer NOT NULL, 
Worker_position varchar(50) NOT NULL,
FOREIGN KEY(Establishment_ID) REFERENCES ESTABLISHMENT (Establishment_ID)
);

#TYPES OF PRODUCT TABLE
CREATE TABLE PRODUCT_TYPE (
Type_ID INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
Product_name VARCHAR(50) NOT NULL,
Product_quantity integer NOT NULL,
Product_unit_cost integer NOT NULL,
Product_description VARCHAR(50) NOT NULL
);

#LIST OF PRODUCT TABLE
CREATE TABLE LIST_PRODUCT(
Product_ID INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
Type_ID INTEGER NOT NULL,
List_quantity integer NOT NULL,
List_cost integer NOT NULL,
FOREIGN KEY (Type_ID) REFERENCES PRODUCT_TYPE (Type_ID)
);

#TRANSACTION TABLE
CREATE TABLE TRANSACTION(
Transaction_ID INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
Product_ID integer NOT NULL,
Worker_ID integer NOT NULL,
Client_ID integer NOT NULL,
Establishment_ID INTEGER NOT NULL,
Transaction_quantity integer NOT NULL,
Transaction_total_price FLOAT NOT NULL,
Transaction_date DATETIME NOT NULL,
FOREIGN KEY (Product_ID) REFERENCES LIST_PRODUCT (Product_ID),
FOREIGN KEY (Worker_ID) REFERENCES WORKER (Worker_ID),
FOREIGN KEY (Establishment_ID) REFERENCES ESTABLISHMENT (Establishment_ID),
FOREIGN KEY (Client_ID) REFERENCES CLIENTS (Client_ID)
);